{% extends 'userbase.html' %}

{% block contents %}
<div>

        <center><p>welcome to userpage.........</p></center>
<!--     <table border="2px solid red" align="left">-->
<!--       <tr>-->
<!--           <th> Predictions</th>-->
<!--           <th> accuracy</th>-->
<!--       </tr>-->
<!--       <tr> <td style="color:white"> {{ errordiff }}</td>-->

<!--        <td style="color:white"></td></tr>-->

<!--    </table>-->
      <table class="table table-dark table-striped">

    </tbody>
  </table>




</div>
    {% endblock %}


